name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: Build
    runs-on: macos-15
    timeout-minutes: 60

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Use latest Xcode
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: '26.2'

    - name: Show Xcode version
      run: xcodebuild -version

    - name: List available simulators
      run: xcrun simctl list devices available

    - name: Show available schemes
      run: xcodebuild -list -project flipflap.xcodeproj

    - name: Setup simulator
      uses: futureware-tech/simulator-action@v4
      with:
        model: 'iPhone 17'
        os_version: '26.2'
        shutdown_after_job: false

    - name: Build App
      run: |
        xcodebuild \
          -project flipflap.xcodeproj \
          -scheme flipflap \
          -destination 'platform=iOS Simulator,name=iPhone 17,OS=26.2' \
          build
